* {
  box-sizing: border-box;
}

:root {
  --wall-color: #0d2f3f;
  --unvisited-color: rgb(140, 187, 235);
  --visited-color-1: #40c8df;
  --visited-color-2: #c16dff;
  --shortest-color: #fffe5f;
}

body {
  background-color: #fff;
}

.header {
  background-color: #2e4054;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header__item {
  margin-right: 20px;
}

.header__heading {
  font-size: 1rem;
  margin: 0;
  margin-right: 20px;
}

.header__btn {
  color: #fff;
  border: none;
  background: none;
}

.header__visualize-btn {
  background: #16b494;
  padding: 10px;
}

.header__algo-selector {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.header__dropdown {
  position: absolute;
  top: 110%;
  left: 0%;
  background: #2e4054;
  padding: 2px;
  min-width: max-content;
  border-radius: 5px;
}

.header__dropdown-item span {
  display: inline-block;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}

.header__dropdown-item:hover span {
  background: #16b494;
}

.header__algo-selector-open {
  background: #16b494;
}

.header__dropdown-icon {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #fff;
  opacity: 0.5;
  border-bottom: none;
  margin-left: 5px;
}

.header__algo-selector-open .header__dropdown-icon {
  opacity: 1;
}

/* Info Bar */

.info-bar {
  padding: 10px;
  display: flex;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.item .text {
  margin-left: 5px;
}

.item__box {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item__unvisited-box {
  border: 1px solid var(--unvisited-color);
}

.item__visited-box-1 {
  background: var(--visited-color-1);
  margin-right: 10px;
}

.item__visited-box-2 {
  background: var(--visited-color-2);
}

.item__shortest-box {
  background: var(--shortest-color);
}

.item__wall-box {
  background: var(--wall-color);
}

.container {
  border: 1px solid rgb(140, 187, 235);
  margin: 5px;
}

.row {
  display: flex;
  flex-basis: 40px;
}

.cell {
  border: 1px solid rgb(140, 187, 235);
  border-top: 0;
  border-left: 0;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

svg {
  transition: all 0.1s;
  color: var(--wall-color);
}

.wall {
  background-color: var(--wall-color);
  border-color: var(--wall-color);
  animation-name: small-big;
  animation-duration: 0.5s;
}

@keyframes small-big {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .explored {
  background-color: var(--visited-color-1);
} */

.explored-brick {
  width: 100%;
  height: 100%;
  animation: explored-brick-animation 2s alternate;
  background: var(--visited-color-1);
}

@keyframes explored-brick-animation {
  from {
    width: 0;
    height: 0;
    border-radius: 20px;
    background: var(--visited-color-2);
  }
  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: var(--visited-color-1);
  }
}

.path {
  background-color: var(--shortest-color);
  border-color: var(--shortest-color);
}

::selection {
  background: none;
}
