* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  background-color: #2e4054;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header__item {
  margin-right: 20px;
}

.header__heading {
  font-size: 1rem;
  margin: 0;
  margin-right: 20px;
}

.header__btn {
  color: #fff;
  border: none;
  background: none;
}

.header__visualize-btn {
  background: #16b494;
  padding: 10px;
}

.info-bar {
  padding: 20px;
  padding-top: 10px;
  display: flex;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.item .text {
  margin-left: 5px;
}

.item__box {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item__unvisited-box {
  border: 1px solid rgb(140, 187, 235);
}

.item__visited-box-1 {
  background: #40c8df;
  margin-right: 10px;
}

.item__visited-box-2 {
  background: #c16dff;
}

.item__shortest-box {
  background: #fffe5f;
}

.item__wall-box {
  background: #0d2f3f;
}

.container {
  border: 1px solid rgb(140, 187, 235);
}

.row {
  display: flex;
  flex-basis: 40px;
}

.cell {
  border: 1px solid rgb(140, 187, 235);
  border-top: 0;
  border-left: 0;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

svg {
  transition: all 0.1s;
}

.selected {
  background-color: cornflowerblue;
}

::selection {
  background: none;
}
